<div class="col-xs-10 col-xs-offset-1 about">
<h1> About Splurty</h1>

<div class="col-xs-12 col-sm-4">
<%= image_tag 'Sara.jpg', class: 'img-responsive' %>
</div>


<p> Splurty was built by <a target='_blank' href="https://github.com/theberbie"> Sara Ahbabou </a> as part of her first Ruby assignment at The Firehose Project. While Sara was initially attracted to the Ruby language because of the shiny gem on the cover of the book, she quickly learned to find similarities in the language and the things that she valued in life such as simplicity and attainability</p> 

<p> Splurty will display quotes that have been added by different users. Please feel free to contribute with your favorite quote or best advice! </p>

<p> Cheers! </p>


</div>

<br class="clear" />
<br />
<br />
<br />
<br />