// Place all the styles related to the quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media (max-width: 750px) {

  .footer-blurb {
    text-align: left;
  }
}


.clear {
  clear:both;
}

.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #f84342;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(11deg);
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  padding-top:26px;
}

.modal {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;

}

.about {font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

.footer-blurb { 
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  text-align: right;

 }

.links {
  padding-top:26px;
}

.links a {
  color:black;
  font-size:25px;
  border-bottom: 1px solid #dfdfdf;
  font-family: 'montserratblack', sans-serif;
  font-weight:bold;
}

.logo:hover {
  text-decoration: none;
}

header {
  border-top: 9px solid #222222;
}

hr {
  clear:both;
}

h1 {
  font-family: 'montserratblack', sans-serif;
  font-weight: bold;
  font-size:48px;
  letter-spacing: -1.5px;
}

h2 {
  font-family: 'cac_champagneregular';
  letter-spacing: -1.5px;
}

.next-quote {
  color:#f84342;
  font-family:'montserratblack';
  font-weight:300;
}

.splurty-quote {
 font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;


}

h2 span {

color:#dddddd;
font-family: 'montserratblack', sans-serif;
font-size:200;

}

::selection {
  background-color: #f84342;
}
